@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

:root {
  --surface-tint: #77584e;
  --surface-variant: #e3e3db;
  --surface-container-highest: #e3e3db;
  --surface-container-high: #e9e8e1;
  --outline-variant: #b2b2ab;
  --secondary: #51644f;
  --primary-fixed-dim: #efc6b9;
  --on-tertiary: #fff7fc;
  --surface: #fbf9f4;
  --tertiary-container: #f5e6f6;
  --outline: #7a7b75;
  --on-primary: #fff7f5;
  --on-surface: #31332e;
  --surface-bright: #fbf9f4;
  --primary-container: #fed3c7;
  --surface-container-low: #f5f4ed;
  --on-secondary: #eaffe4;
  --on-secondary-container: #445642;
  --primary-fixed: #fed3c7;
  --secondary-fixed: #d3e8ce;
  --on-primary-fixed-variant: #705147;
  --tertiary-fixed: #f5e6f6;
  --secondary-container: #d3e8ce;
  --secondary-fixed-dim: #c5dac0;
  --tertiary-dim: #5a505c;
  --inverse-surface: #0e0e0c;
  --on-surface-variant: #5e6059;
  --on-primary-fixed: #51352c;
  --on-primary-container: #65473e;
  --on-tertiary-fixed-variant: #685d6a;
  --error: #a73b21;
  --on-error: #fff7f6;
  --error-dim: #791903;
  --secondary-dim: #465843;
  --on-error-container: #6e1400;
  --on-tertiary-fixed: #4b414d;
  --on-tertiary-container: #5e5360;
  --surface-container-lowest: #ffffff;
  --on-secondary-fixed-variant: #4e604b;
  --background: #fbf9f4;
  --primary-dim: #6a4c43;
  --surface-dim: #dadad2;
  --tertiary: #665c68;
  --inverse-on-surface: #9e9d99;
  --on-background: #31332e;
  --surface-container: #efeee7;
  --inverse-primary: #fed3c7;
  --error-container: #fd795a;
  --primary: #77584e;
  --on-secondary-fixed: #324431;
  --tertiary-fixed-dim: #e7d8e7;

  --font-headline: 'Noto Serif', serif;
  --font-body: 'Manrope', sans-serif;
  --font-label: 'Manrope', sans-serif;

  --border-radius-default: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--on-surface);
  font-family: var(--font-body);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.container {
  max-width: 80rem; /* ~1280px */
  margin: 0 auto;
  padding: 0 2rem;
}
